pkgbase = italian-schools-data-fetcher
	pkgdesc = Retrieve Italian schools data from MIUR.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1
	pkgrel = 1
	url = https://github.com/themartiancompany/italian-schools-data-fetcher
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = bash
	source = italian-schools-data-fetcher-1270cf0d792316efcfb12e98b60424003adf8c87.zip::https://github.com/themartiancompany/italian-schools-data-fetcher/archive/1270cf0d792316efcfb12e98b60424003adf8c87.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 573ecbc080181eef4c2fbb5191f6d12cb5e6c10f991224ed2ca37c3a29c06511

pkgname = italian-schools-data-fetcher
